/* -------------home banner section css start--------------- */
.employe_banner_section{
    background-color: #f4f4f6;
    padding-bottom: 15px;
    padding-top: 20px;
    border-radius: 17px;
}
.employe_title{
    color: #14a800;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.employe_text{
    color: #001e00;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.anchor_talkbtn{
    display: flex;
    flex-direction: row;
}
.talk_btn{
    background-color: #14a800;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 20px 5px 20px;
}
.looking_anchor{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #14a800;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-align: start;
    margin-top: 3px;
}
.looking_anchor:hover{
    text-decoration: underline;
    color: #14a800;
}
.employe_banner_img{
    width: 570px;
    height: 280px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
/* -------------home banner section css end--------------- */
/* #f4f4f6; */
/* -------------telant section css start--------------- */
.field_container{
    background-color: #f4f4f6;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    text-align: center;
}
.field_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.field_container_first{
    margin-left: 30px;
}
.field_img{
    width: 160px;
    height: 160px;
}
.talent_title{
    font-size: 25px;
    color: #001e00;
    font-weight: 600;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
    padding-left: 50px;
}
.field_text{
    font-size: 18px;
    color: #001e00;
    font-weight: 600;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
}
/* -------------telant section css end--------------- */

/* -------------barand section css start--------------- */
.brand_section{
    padding-top: 50px;
}
.employe_brand_img{
    width: 140px;
    height: 56px;
}
.brand_title{
    font-size: 25px; 
    font-weight: 600;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    padding-top: 70px;
    padding-bottom: 0px;

}
.brand_description{
    color: rgb(116, 114, 114);
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* -------------barand section css end--------------- */

/* -------------gorious section css start--------------- */
.gorious_section{
    padding-top: 50px;
}
.regorious_img{
    height: 100%;
    width: 100%;
}
.rigorious_title{
    font-size: 27px;
    font-weight: 600;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.gorious_point_title{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.gorious_text{
    font-size: 17px;
    font-weight: 300;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif; 
}
.gorious_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.regorious_icon{
    height: 48px;
    width: 48px;
}
/* -------------gorious section css end--------------- */

/* -------------expect section css start--------------- */
.expect_section_div{
    padding-top: 60px;
}
.expect_section{
    background-color: #f4f4f6;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 15px;
    margin-top: 70px;
}
.expect_point{
    padding-top: 40px;
    padding-bottom: 30px;
}
.expect_title{
    font-size: 27px;
    font-weight: 600;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* margin-left: 40px; */
}
.expect_text{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
}
.expect_description{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* margin-left: 40px; */
}
.expect_div{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.number_text{
    color: white;
    background-color: #001e00;
    display: block;
    height: 25px;
    width: 60px;
    font-size: 16px;
    text-align: center;
    border-radius: 100%;
}
.number_textone{
    color: white;
    background-color: #001e00;
    display: block;
    height: 25px;
    width: 35px;
    font-size: 16px;
    text-align: center;
    border-radius: 100%;
}
.talk_btn2{
    background-color: #14a800;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 20px 5px 20px;
    margin-left: 30px;
}
/* -------------expect section css end--------------- */

/* -------------faq section css start--------------- */
.faq_div{
    padding-top: 80px;
}
.faq_section{
    background-color: #f4f4f6;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;

}
.fa_question{
    color: #001e00;
    padding-bottom: 5px;
}
.faq_title{
    font-size: 30px;
    color: #001e00;
    font-weight: 600;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: start;
}
.faq_point_title{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.faq_text{
    font-size: 17px;
    font-weight: 300;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* -------------faq section css end--------------- */
.join_div{
    padding-top: 50px;
}
@media only screen and (min-width: 200px)  and (max-width: 429px) {
    .employe_title{
        color: #14a800;
        font-size: 38px;
        font-weight: bold;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }
    .employe_banner_img{
        width: 100%;
        height: 220px;
        border-radius: 15px;
        margin-top: 20px;
    }
    .field_container{
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
    .field_img{
     width: 100px;
     height: 100px;
 
     }
     .field_text{
         font-size: 18px;
         text-align: start;
         margin-top: 20px;
         font-weight: 600;
     }
     .anchor_talkbtn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .join_img{
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }
    .join_title{
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-top: 20px;
    }
    .join_footer_row{

        margin-top: 20px;
        padding-bottom: 15px;
    }
    .horizontal_line{
        margin-left: 10px; 
    }
    .expect_div{
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
    .number_text{
        color: white;
        background-color: #001e00;
        display: block;
        height: 25px;
        font-size: 16px;
        text-align: center;
        border-radius: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .number_textone{
        color: white;
        background-color: #001e00;
        display: block;
        height: 25px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
        text-align: center;
        border-radius: 100%;
    }
    .talent_title{
        margin-left: 30px;
        padding-left: 0px;
    }
    .field_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .field_container{
        margin-left: 0px;
    }
  }
@media only screen and (min-width: 430px)  and (max-width: 575px) {
    .employe_title{
        color: #14a800;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }
   .field_container{
       display: flex;
       flex-direction: row;
       margin-left: 30px;
   }
   .field_img{
    width: 100px;
    height: 100px;

    }
    .field_text{
        font-size: 18px;
        text-align: start;
        margin-top: 20px;
        font-weight: 600;
    }
    .employe_banner_img{
        width: 100%;
        height: 250px;
        border-radius: 15px;
        margin-top: 20px;
    } 
    .anchor_talkbtn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .join_img{
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }
    .join_title{
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-top: 20px;
    }
    .join_footer_row{

        margin-top: 20px;
        padding-bottom: 10px;
    }
    .horizontal_line{
        margin-left: 10px; 
    }
    .expect_divone{
        padding-left: 40px;
    }
    .talent_title{
        margin-left: 70px;
        padding-left: 0px;
    }
    .field_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
   
  }
  
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .employe_banner_img{
        width: 100%;
        height: 250px;
        border-radius: 15px;
        margin-top: 20px;
    }
    .join_img{
        width: 220px;
        height: 90%;
        border-radius: 5px;
    }
    .join_title{
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-left: 70px;
    }
    .join_footer_row{
        margin-left: 70px;
        margin-top: 70px;
        padding-bottom: 10px;
    }
    .horizontal_line{
        margin-left: 10px; 
    }
    .number_text{
        color: white;
        background-color: #001e00;
        display: block;
        height: 25px;
        width: 40px;
        font-size: 16px;
        text-align: center;
        border-radius: 100%;
    }
    .number_textone{
        color: white;
        background-color: #001e00;
        display: block;
        height: 25px;
        width: 30px;
        font-size: 16px;
        text-align: center;
        border-radius: 100%;
    }
    .expect_divone{
        padding-left: 40px;
    }
    .talent_title{
        margin-left: 115px;
        padding-left: 0px;
    }
    .field_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .field_container_first{
        margin-left: 0px;
    }
  }
@media only screen and (min-width: 768px) and (max-width:991px) {
    .employe_banner_img{
        width: 425px;
        height: 250px;
        border-radius: 15px;
    
    } 
    .join_img{
        width: 250px;
        height: 200px;
        border-radius: 5px;
    }
    .join_title{
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-left: 40px;
    }
    .join_footer_row{
        margin-left: 40px;
    }
    .number_text{
        color: white;
        background-color: #001e00;
        display: block;
        height: 25px;
        width: 80px;
        font-size: 16px;
        text-align: center;
        border-radius: 100%;
    }
    .number_textone{
        color: white;
        background-color: #001e00;
        display: block;
        height: 25px;
        width: 50px;
        font-size: 16px;
        text-align: center;
        border-radius: 100%;
    }
    .talent_title{
        margin-left: 115px;
        padding-left: 0px;
    }
    .field_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }
}

  @media only screen and (min-width:992px) and (max-width:1188px) {
    .join_work_container{
        background-color: #1f57c3;
        padding: 15px 10px 15px 0px;
        border-radius: 5px;
    }

    .talent_title{
        margin-left: 75px;
        padding-left: 0px;
    }
    .field_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }
  }
  @media only screen and (min-width:1189px) and (max-width:1541px) {
    .talent_title{
        margin-left: 90px;
        padding-left: 0px;
    }
    .field_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }
  }
  @media only screen and (min-width:1541px) and (max-width:3000px) {
    .talent_title{
        margin-left: 225px;
        padding-left: 0px;
    }
    .field_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }
  }