.hire_details_banner{
  background-color: #f4f4f6;
  border-radius: 15px;

}
.hire_details_banner_mobile{
  background-color: #f4f4f6;
  display: none;
  border-radius: 15px;
}
.hire_description_container{
  background-color: #f4f4f6;
  border-radius: 10px;
}
.hire_table_content{
  margin-left: 20px;
  position: sticky;
  top: 100px;
  background-color: #f4f4f6;
  margin-top: 50px;
}
.hire_expact_section{
  padding-top: 50px;
  padding-bottom: 50px;
}

.hire_blog_inputs{
  height: 48px;
  width: 280px;
  border-radius: 5px;
  border: 0.5px solid rgb(182, 182, 182);
}
.hire_blog_developer_btn{
  height: 48px;
  width: 280px;
  border-radius: 5px;
  border: none;
  background-color: #206ee9;
  color: white;
  font-weight: 600;
}
.hire_title{
    line-height: 48px;
    margin-left: 25px;
}
.search_div{
    margin-left: 25px;
}

form.nosubmit {
    margin-top: 40px;
    padding: 0;
    margin-left: 25px;
  }
  
  input.nosubmit {
    width: 31%;
    border: solid 0.5px rgb(165, 164, 164);
    border-radius: 30px;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  form.nosubmit :focus{
    outline:#206ee9 0.5px solid;
  }
  .hire_tech_img{
    width: 28px;
    height: 28px;
  
  }
  .based_text{
  
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
  }
  .technology_text{
    display: inline-block;
    font-size: 18px;
    line-height: 20.5px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 5px;
  }
  .technology_div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-row-gap: 30px;
  }
  .technology_colam{
    box-shadow: 0.5px 0px 0.5px 0.5px rgba(0,0,0,0.25), 
    0.5px 0px 0.5px 0.5px rgba(0,0,0,0.20), 
    0.5px 0px 0px 0.5px rgba(0,0,0,0.15), 
    0px 0px 0.5px 0.5px rgba(0,0,0,0.10),
    0px 0px 0.5px 0.5px rgba(0,0,0,0.05);
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 7px;
    padding-top: 5px;
  }
.technology_section_mobile{
  display: none;
  padding-top: 50px;
}
.hire_arrow_icon{
  color: rgb(112, 111, 111);
  display: none;
}
.technology_colam:hover .hire_arrow_icon{
  display: inline;
}
.technology_section{
  padding-top: 70px;
}

.Based_role_section{  
  padding-top: 70px;
}
.Based_role_div{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
}
.based_role_colam{
  box-shadow: 0.5px 0px 0.5px 0.5px rgba(0,0,0,0.25), 
  0.5px 0px 0.5px 0.5px rgba(0,0,0,0.20), 
  0.5px 0px 0px 0.5px rgba(0,0,0,0.15), 
  0px 0px 0.5px 0.5px rgba(0,0,0,0.10),
  0px 0px 0.5px 0.5px rgba(0,0,0,0.05);
  border-radius: 10px;
  cursor: pointer;
  padding-left: 7px;
  padding-top: 5px;
}
.based_role_text{
  font-size: 18px;
  font-weight: 600;
}
.based_role_colam:hover .hire_arrow_icon{
  display: inline;
}
.Based_role_section_mobile{
  display: none;
  padding-top: 70px;
}
.see_more{
  color: #206ee9;
  font-size: 18px;
  cursor: pointer;
}
  @media only screen and (min-width: 200px)  and (max-width: 429px) {
    .hire_details_banner_section{
      display: none;
    }
    .hire_details_banner_mobile{
      display: block;
    }
    .hire_blog_inputs{
      width: 100%;
      height: 48px;
    }
    .hire_blog_developer_btn{
      width: 100%;
      height: 48px;
      margin-top: 10px;
    }
    .technology_section{
      display: none;
    }
    .technology_section_mobile{
      display: block;
      
    }
    .Based_role_section{
      display: none;
    }
    .Based_role_section_mobile{
      display: block;
    }
    .technology_div{
      display: grid;
      grid-template-columns: auto auto  ;
      grid-row-gap: 30px;
      margin-left: 10px;
      
    }
    .technology_text{
      display: inline-block;
      font-size: 14px;
      line-height: 16px;
    }
    .technology_colam{
      width: 90%;
    
    }
    .based_text{
      margin-left: 0px;
    }
    
    .Based_role_div{
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 15px;
      grid-row-gap: 30px;
    }

  }
@media only screen and (min-width: 430px)  and (max-width: 575px) {
  .hire_details_banner_section{
    display: none;
  }
  .hire_details_banner_mobile{
    display: block;
  }
  .hire_blog_inputs{
    width: 100%;
    height: 48px;
  }
  .hire_blog_developer_btn{
    width: 100%;
    height: 48px;
    margin-top: 10px;
  }
  .technology_section{
    display: none;
  }
  .technology_section_mobile{
    display: block;
    
  }
  .Based_role_section{
    display: none;
  }
  .Based_role_section_mobile{
    display: block;
  }
  .technology_div{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px;
    margin-left: 10px;
  }
  .technology_text{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .technology_colam{
    width: 90%;
  }
  .based_text{
    margin-left: 0px;
  }
  .Based_role_div{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
  }
  }
  
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* .technology_section{
    display: none;
  }
  .technology_section_mobile{
    display: block;
    
  } */
  .hire_details_banner_section{
    display: none;
  }
  .hire_details_banner_mobile{
    display: block;
  }
  .hire_blog_inputs{
    width: 100%;
    height: 48px;
  }
  .hire_blog_developer_btn{
    width: 100%;
    height: 48px;
    margin-top: 10px;
  }
  .technology_div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 30px;

  }
  .technology_text{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .technology_colam{
    width: 90%;
  }
  .based_text{
    margin-left: 0px;
  }
  .Based_role_div{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
  }
  }
@media only screen and (min-width: 768px) and (max-width:990.5px) {
  .hire_details_banner_section{
    display: none;
  }
  .hire_details_banner_mobile{
    display: block;
  }
  .hire_blog_inputs{
    width: 100%;
    height: 48px;
  }
  .hire_blog_developer_btn{
    width: 100%;
    height: 48px;
    margin-top: 10px;
  }
  .technology_div{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 30px;
    margin-left: 10px;
  }
  .technology_colam{
    width: 90%;
  }
  .technology_colam{
    width: 90%;
  }

  .technology_text{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .Based_role_div{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
  }
}

@media only screen and (min-width:990.5px) and (max-width:1220.5px) {
  .technology_div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-row-gap: 30px;
  }
  .Based_role_div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}
@media only screen and (min-width:1222px) and (max-width:3000px) {
  .technology_section{
    margin-right: 30px;
  }
  .Based_role_section{
    margin-right: 30px;
  }
 
}