
.getstarted_btn{
    border-radius: 5px;
    border: none;
    background-color: #206ee9;
    text-align: center;
    font-size: 12px;
    color: white;
    height: 40px;
    width: 200px;
    font-weight: 500;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.getstartright{
    display: block;
}
.getstartleft{
    display: none;
}
.right-nav-span{
    font-size: 13px;
    color: #515e72;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.anchor-text{
    text-decoration: none;
    color: #515e72;
    margin-left: 20px;
    font-size: 13px;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.anchor-texttwo{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 13px;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.anchor-text:hover {
    color: black;
}
.anchor-texttwo:hover{
    color: black;
}
.filter-container{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    padding-top: 20px;
    transition: 0.5s ease-in-out;
}
.navbar-row{
    background-color: #206ee9;
    color: white;
    text-align: center;
    height: 40px;
}
.navrow-text{
    font-weight: 500;
    font-size: 12px;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.dropdowntext{
    font-weight: 500;
    font-size: 14px;
    color: #515e72;
}
.Search_icons{
    color: #515e72;
    width: 10px;
}
.offcanvas_container{
    height: 40vh;
}
.offcangetstarted_btn{
    border-radius: 5px;
    border: none;
    background-color: #206ee9;
    text-align: center;
    font-size: 12px;
    color: white;
    height: 40px;
    width: 93vw;
    font-weight: 500;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: block;
}
.Applydev_btn{
    border-radius: 5px;
    border: solid 1px #206ee9;;
    background-color: white;
    text-align: center;
    font-size: 12px;
    color: #206ee9;
    height: 40px;
    width: 93vw;
    font-weight: 500;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-top: 10px;
}
.Login_btn{
    border-radius: 5px;
    border: solid 1px #206ee9;;
    background-color: white;
    text-align: center;
    font-size: 12px;
    color: #206ee9;
    height: 40px;
    width: 93vw;
    font-weight: 500;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-top: 10px;
}
.websitelogo{
    width: 120px;
    height: 60px;
    margin-left: 16px;
    cursor: pointer;
}
.canvas_img{
    width: 120px;
    height: 60px;
    margin-right: 30px;
    cursor: pointer;
}
@media only screen and (min-width: 200px)  and (max-width: 429px) {
    
    .getstartright{
        display: none;
    }
    .getstartleft{
        display: block;
    }
    .filter-container{
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
    }
    .horizontal-line{
        
        display: none;
    }
    .nav-itmes{
        display: none;
    }
    .offcangetstarted_btn{
        border-radius: 5px;
        border: none;
        background-color: #206ee9;
        text-align: center;
        font-size: 12px;
        color: white;
        height: 40px;
        width: 93vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
    }
    .Applydev_btn{
        border-radius: 5px;
        border: solid 1px #206ee9;;
        background-color: white;
        text-align: center;
        font-size: 12px;
        color: #206ee9;
        height: 40px;
        width: 93vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-top: 10px;
    }
    .Login_btn{
        border-radius: 5px;
        border: solid 1px #206ee9;;
        background-color: white;
        text-align: center;
        font-size: 12px;
        color: #206ee9;
        height: 40px;
        width: 93vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-top: 10px;
    }
  }
@media only screen and (min-width: 430px)  and (max-width: 575px) {
    .getstartright{
        display: none;
    }
    .getstartleft{
        display: block;
    }
    .filter-container{
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
    }
    .horizontal-line{
        
        display: none;
    }
    .nav-itmes{
        display: none;
    }
    .offcangetstarted_btn{
        border-radius: 5px;
        border: none;
        background-color: #206ee9;
        text-align: center;
        font-size: 12px;
        color: white;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
    }
    .Applydev_btn{
        border-radius: 5px;
        border: solid 1px #206ee9;;
        background-color: white;
        text-align: center;
        font-size: 12px;
        color: #206ee9;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-top: 10px;
    }
    .Login_btn{
        border-radius: 5px;
        border: solid 1px #206ee9;;
        background-color: white;
        text-align: center;
        font-size: 12px;
        color: #206ee9;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-top: 10px;
    }
  }
  
@media only screen and (min-width: 576px) and (max-width: 787px) {
    .getstartright{
        display: none;
    }
    .getstartleft{
        display: block;
    }
    .filter-container{
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
    }
    .horizontal-line{
        
        display: none;
    }
    .nav-itmes{
        display: none;
    }
    .offcangetstarted_btn{
        border-radius: 5px;
        border: none;
        background-color: #206ee9;
        text-align: center;
        font-size: 12px;
        color: white;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
    }
    .Applydev_btn{
        border-radius: 5px;
        border: solid 1px #206ee9;;
        background-color: white;
        text-align: center;
        font-size: 12px;
        color: #206ee9;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-top: 10px;
    }
    .Login_btn{
        border-radius: 5px;
        border: solid 1px #206ee9;;
        background-color: white;
        text-align: center;
        font-size: 12px;
        color: #206ee9;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-top: 10px;
    }
  }
@media only screen and (min-width: 788px) and (max-width:991px) {
    .getstartright{
        display: none;
    }
    .getstartleft{
        display: block;
    }
    .filter-container{
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
    }
    .horizontal-line{
        
        display: none;
    }
    .nav-itmes{
        display: none;
    }
    .offcangetstarted_btn{
        border-radius: 5px;
        border: none;
        background-color: #206ee9;
        text-align: center;
        font-size: 12px;
        color: white;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
    }
    .Applydev_btn{
        border-radius: 5px;
        border: solid 1px #206ee9;;
        background-color: white;
        text-align: center;
        font-size: 12px;
        color: #206ee9;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-top: 10px;
    }
    .Login_btn{
        border-radius: 5px;
        border: solid 1px #206ee9;;
        background-color: white;
        text-align: center;
        font-size: 12px;
        color: #206ee9;
        height: 40px;
        width: 95vw;
        font-weight: 500;
        font-family: 'Charm', cursive;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-top: 10px;
    }
  }